<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6</title>
</head>
<body>
    <!-- 水水水水是是是幅度為氮化物我和幅度為服務 -->
    <p>aaaa</p>
    <p>bbbb</p>
    <p>cccc</p>
    <script src="/js/index.js"></script>
</body>

</html> 